CREATE DATABASE EntertainmentAgency;
GO

USE [EntertainmentAgency]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[AgentID] [int] IDENTITY(1,1) NOT NULL,
	[AgtFirstName] [varchar](25) NULL,
	[AgtLastName] [varchar](25) NULL,
	[AgtStreetAddress] [varchar](50) NULL,
	[AgtCity] [varchar](30) NULL,
	[AgtState] [varchar](2) NULL,
	[AgtZipCode] [varchar](10) NULL,
	[AgtPhoneNumber] [varchar](15) NULL,
	[DateHired] [date] NULL,
	[Salary] [money] NULL,
	[CommissionRate] [real] NULL,
 CONSTRAINT [Agents_PK] PRIMARY KEY CLUSTERED 
(
	[AgentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustFirstName] [varchar](25) NULL,
	[CustLastName] [varchar](25) NULL,
	[CustStreetAddress] [varchar](50) NULL,
	[CustCity] [varchar](30) NULL,
	[CustState] [varchar](2) NULL,
	[CustZipCode] [varchar](10) NULL,
	[CustPhoneNumber] [varchar](15) NULL,
 CONSTRAINT [Customers_PK] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Engagements]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engagements](
	[EngagementNumber] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[StartTime] [time](7) NULL,
	[StopTime] [time](7) NULL,
	[ContractPrice] [money] NULL,
	[CustomerID] [int] NULL,
	[AgentID] [int] NULL,
	[EntertainerID] [int] NULL,
 CONSTRAINT [Engagements_PK] PRIMARY KEY CLUSTERED 
(
	[EngagementNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entertainer_Members]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entertainer_Members](
	[EntertainerID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [Entertainer_Members_PK] PRIMARY KEY CLUSTERED 
(
	[EntertainerID] ASC,
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entertainer_Styles]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entertainer_Styles](
	[EntertainerID] [int] NOT NULL,
	[StyleID] [int] NOT NULL,
	[StyleStrength] [smallint] NOT NULL,
 CONSTRAINT [Entertainer_Styles_PK] PRIMARY KEY CLUSTERED 
(
	[EntertainerID] ASC,
	[StyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entertainers]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entertainers](
	[EntertainerID] [int] IDENTITY(1,1) NOT NULL,
	[EntStageName] [varchar](50) NULL,
	[EntSSN] [varchar](12) NULL,
	[EntStreetAddress] [varchar](50) NULL,
	[EntCity] [varchar](30) NULL,
	[EntState] [varchar](2) NULL,
	[EntZipCode] [varchar](10) NULL,
	[EntPhoneNumber] [varchar](15) NULL,
	[EntWebPage] [varchar](50) NULL,
	[EntEMailAddress] [varchar](50) NULL,
	[DateEntered] [date] NULL,
	[EntPricePerDay] [money] NULL,
 CONSTRAINT [Entertainers_PK] PRIMARY KEY CLUSTERED 
(
	[EntertainerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MbrFirstName] [varchar](25) NULL,
	[MbrLastName] [varchar](25) NULL,
	[MbrPhoneNumber] [varchar](15) NULL,
	[Gender] [varchar](2) NULL,
 CONSTRAINT [Members_PK] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musical_Preferences]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musical_Preferences](
	[CustomerID] [int] NOT NULL,
	[StyleID] [int] NOT NULL,
	[PreferenceSeq] [smallint] NOT NULL,
 CONSTRAINT [Musical_Preferences_PK] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[StyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musical_Styles]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musical_Styles](
	[StyleID] [int] IDENTITY(1,1) NOT NULL,
	[StyleName] [varchar](75) NULL,
 CONSTRAINT [Musical_Styles_PK] PRIMARY KEY CLUSTERED 
(
	[StyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztblDays]    Script Date: 4/10/2021 17:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztblDays](
	[DateField] [date] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agents] ON 

INSERT [dbo].[Agents] ([AgentID], [AgtFirstName], [AgtLastName], [AgtStreetAddress], [AgtCity], [AgtState], [AgtZipCode], [AgtPhoneNumber], [DateHired], [Salary], [CommissionRate]) VALUES (1, N'William', N'Thompson', N'122 Spring River Drive', N'Redmond', N'WA', N'98053', N'555-2681', CAST(N'1997-05-15' AS Date), 35000.0000, 0.04)
INSERT [dbo].[Agents] ([AgentID], [AgtFirstName], [AgtLastName], [AgtStreetAddress], [AgtCity], [AgtState], [AgtZipCode], [AgtPhoneNumber], [DateHired], [Salary], [CommissionRate]) VALUES (2, N'Scott', N'Johnson', N'66 Spring Valley Drive', N'Seattle', N'WA', N'98125', N'555-2666', CAST(N'1998-02-05' AS Date), 27000.0000, 0.04)
INSERT [dbo].[Agents] ([AgentID], [AgtFirstName], [AgtLastName], [AgtStreetAddress], [AgtCity], [AgtState], [AgtZipCode], [AgtPhoneNumber], [DateHired], [Salary], [CommissionRate]) VALUES (3, N'Carol', N'Viescas', N'667 Red River Road', N'Bellevue', N'WA', N'98006', N'555-2571', CAST(N'1997-11-19' AS Date), 30000.0000, 0.05)
SET IDENTITY_INSERT [dbo].[Agents] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [CustFirstName], [CustLastName], [CustStreetAddress], [CustCity], [CustState], [CustZipCode], [CustPhoneNumber]) VALUES (10001, N'Doug', N'Steele', N'4726 - 11th Ave. N.E.', N'Seattle', N'WA', N'98105', N'555-2671')
INSERT [dbo].[Customers] ([CustomerID], [CustFirstName], [CustLastName], [CustStreetAddress], [CustCity], [CustState], [CustZipCode], [CustPhoneNumber]) VALUES (10002, N'Deb', N'Smith', N'908 W. Capital Way', N'Tacoma', N'WA', N'98413', N'555-2496')
INSERT [dbo].[Customers] ([CustomerID], [CustFirstName], [CustLastName], [CustStreetAddress], [CustCity], [CustState], [CustZipCode], [CustPhoneNumber]) VALUES (10003, N'Ben', N'Clothier', N'722 Moss Bay Blvd.', N'Kirkland', N'WA', N'98033', N'555-2501')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Engagements] ON 

INSERT [dbo].[Engagements] ([EngagementNumber], [StartDate], [EndDate], [StartTime], [StopTime], [ContractPrice], [CustomerID], [AgentID], [EntertainerID]) VALUES (2, CAST(N'2015-09-01' AS Date), CAST(N'2015-09-05' AS Date), CAST(N'13:00:00' AS Time), CAST(N'15:00:00' AS Time), 200.0000, 10006, 4, 1004)
INSERT [dbo].[Engagements] ([EngagementNumber], [StartDate], [EndDate], [StartTime], [StopTime], [ContractPrice], [CustomerID], [AgentID], [EntertainerID]) VALUES (3, CAST(N'2015-09-10' AS Date), CAST(N'2015-09-15' AS Date), CAST(N'13:00:00' AS Time), CAST(N'15:00:00' AS Time), 590.0000, 10001, 3, 1005)
INSERT [dbo].[Engagements] ([EngagementNumber], [StartDate], [EndDate], [StartTime], [StopTime], [ContractPrice], [CustomerID], [AgentID], [EntertainerID]) VALUES (4, CAST(N'2015-09-11' AS Date), CAST(N'2015-09-17' AS Date), CAST(N'20:00:00' AS Time), CAST(N'00:00:00' AS Time), 470.0000, 10007, 3, 1004)
GO
SET IDENTITY_INSERT [dbo].[Engagements] OFF
INSERT [dbo].[Entertainer_Members] ([EntertainerID], [MemberID], [Status]) VALUES (1001, 106, 1)
INSERT [dbo].[Entertainer_Members] ([EntertainerID], [MemberID], [Status]) VALUES (1001, 107, 1)
INSERT [dbo].[Entertainer_Members] ([EntertainerID], [MemberID], [Status]) VALUES (1001, 118, 2)
INSERT [dbo].[Entertainer_Styles] ([EntertainerID], [StyleID], [StyleStrength]) VALUES (1001, 10, 2)
INSERT [dbo].[Entertainer_Styles] ([EntertainerID], [StyleID], [StyleStrength]) VALUES (1001, 20, 1)
INSERT [dbo].[Entertainer_Styles] ([EntertainerID], [StyleID], [StyleStrength]) VALUES (1001, 21, 3)
SET IDENTITY_INSERT [dbo].[Entertainers] ON 

INSERT [dbo].[Entertainers] ([EntertainerID], [EntStageName], [EntSSN], [EntStreetAddress], [EntCity], [EntState], [EntZipCode], [EntPhoneNumber], [EntWebPage], [EntEMailAddress], [DateEntered], [EntPricePerDay]) VALUES (1001, N'Carol Peacock Trio', N'888-90-1121', N'4110 Old Redmond Rd.', N'Redmond', N'WA', N'98052', N'555-2691', N'www.cptrio.com', N'carolp@cptrio.com', CAST(N'1997-05-24' AS Date), 175.0000)
INSERT [dbo].[Entertainers] ([EntertainerID], [EntStageName], [EntSSN], [EntStreetAddress], [EntCity], [EntState], [EntZipCode], [EntPhoneNumber], [EntWebPage], [EntEMailAddress], [DateEntered], [EntPricePerDay]) VALUES (1002, N'Topazz', N'888-50-1061', N'16 Maple Lane', N'Auburn', N'WA', N'98002', N'555-2591', N'www.topazz.com', NULL, CAST(N'1996-02-14' AS Date), 120.0000)
INSERT [dbo].[Entertainers] ([EntertainerID], [EntStageName], [EntSSN], [EntStreetAddress], [EntCity], [EntState], [EntZipCode], [EntPhoneNumber], [EntWebPage], [EntEMailAddress], [DateEntered], [EntPricePerDay]) VALUES (1003, N'JV & the Deep Six', N'888-18-1013', N'15127 NE 24th, #383', N'Redmond', N'WA', N'98052', N'555-2511', N'www.jvd6.com', N'jv@myspring.com', CAST(N'1998-03-18' AS Date), 275.0000)
SET IDENTITY_INSERT [dbo].[Entertainers] OFF
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [MbrFirstName], [MbrLastName], [MbrPhoneNumber], [Gender]) VALUES (101, N'David', N'Smith', N'555-2701', N'M')
INSERT [dbo].[Members] ([MemberID], [MbrFirstName], [MbrLastName], [MbrPhoneNumber], [Gender]) VALUES (102, N'Suzanne', N'Viescas', N'555-2686', N'F')
INSERT [dbo].[Members] ([MemberID], [MbrFirstName], [MbrLastName], [MbrPhoneNumber], [Gender]) VALUES (103, N'Gary', N'Hallmark', N'555-2676', N'M')
SET IDENTITY_INSERT [dbo].[Members] OFF
INSERT [dbo].[Musical_Preferences] ([CustomerID], [StyleID], [PreferenceSeq]) VALUES (10001, 10, 2)
INSERT [dbo].[Musical_Preferences] ([CustomerID], [StyleID], [PreferenceSeq]) VALUES (10001, 22, 1)
INSERT [dbo].[Musical_Preferences] ([CustomerID], [StyleID], [PreferenceSeq]) VALUES (10002, 3, 1)
SET IDENTITY_INSERT [dbo].[Musical_Styles] ON 

INSERT [dbo].[Musical_Styles] ([StyleID], [StyleName]) VALUES (1, N'40''s Ballroom Music')
INSERT [dbo].[Musical_Styles] ([StyleID], [StyleName]) VALUES (2, N'50''s Music')
INSERT [dbo].[Musical_Styles] ([StyleID], [StyleName]) VALUES (3, N'60''s Music')
SET IDENTITY_INSERT [dbo].[Musical_Styles] OFF
ALTER TABLE [dbo].[Agents] ADD  CONSTRAINT [Salary_Default]  DEFAULT ((0)) FOR [Salary]
GO
ALTER TABLE [dbo].[Agents] ADD  CONSTRAINT [Commision_Rate_Default]  DEFAULT ((0)) FOR [CommissionRate]
GO
ALTER TABLE [dbo].[Engagements] ADD  CONSTRAINT [Contract_Price_Default]  DEFAULT ((0)) FOR [ContractPrice]
GO
ALTER TABLE [dbo].[Entertainer_Members] ADD  CONSTRAINT [EM_Status_Default]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Entertainer_Styles] ADD  CONSTRAINT [StyleStrength_Default]  DEFAULT ((0)) FOR [StyleStrength]
GO
ALTER TABLE [dbo].[Musical_Preferences] ADD  CONSTRAINT [Pref_Seq_Default]  DEFAULT ((0)) FOR [PreferenceSeq]
GO
ALTER TABLE [dbo].[Engagements]  WITH CHECK ADD  CONSTRAINT [Engagements_FK00] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agents] ([AgentID])
GO
ALTER TABLE [dbo].[Engagements] CHECK CONSTRAINT [Engagements_FK00]
GO
ALTER TABLE [dbo].[Engagements]  WITH CHECK ADD  CONSTRAINT [Engagements_FK01] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Engagements] CHECK CONSTRAINT [Engagements_FK01]
GO
ALTER TABLE [dbo].[Engagements]  WITH CHECK ADD  CONSTRAINT [Engagements_FK02] FOREIGN KEY([EntertainerID])
REFERENCES [dbo].[Entertainers] ([EntertainerID])
GO
ALTER TABLE [dbo].[Engagements] CHECK CONSTRAINT [Engagements_FK02]
GO
ALTER TABLE [dbo].[Entertainer_Members]  WITH CHECK ADD  CONSTRAINT [Entertainer_Members_FK00] FOREIGN KEY([EntertainerID])
REFERENCES [dbo].[Entertainers] ([EntertainerID])
GO
ALTER TABLE [dbo].[Entertainer_Members] CHECK CONSTRAINT [Entertainer_Members_FK00]
GO
ALTER TABLE [dbo].[Entertainer_Members]  WITH CHECK ADD  CONSTRAINT [Entertainer_Members_FK01] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[Entertainer_Members] CHECK CONSTRAINT [Entertainer_Members_FK01]
GO
ALTER TABLE [dbo].[Entertainer_Styles]  WITH CHECK ADD  CONSTRAINT [Entertainer_Styles_FK00] FOREIGN KEY([EntertainerID])
REFERENCES [dbo].[Entertainers] ([EntertainerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Entertainer_Styles] CHECK CONSTRAINT [Entertainer_Styles_FK00]
GO
ALTER TABLE [dbo].[Entertainer_Styles]  WITH CHECK ADD  CONSTRAINT [Entertainer_Styles_FK01] FOREIGN KEY([StyleID])
REFERENCES [dbo].[Musical_Styles] ([StyleID])
GO
ALTER TABLE [dbo].[Entertainer_Styles] CHECK CONSTRAINT [Entertainer_Styles_FK01]
GO
ALTER TABLE [dbo].[Musical_Preferences]  WITH CHECK ADD  CONSTRAINT [Musical_Preferences_FK00] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Musical_Preferences] CHECK CONSTRAINT [Musical_Preferences_FK00]
GO
ALTER TABLE [dbo].[Musical_Preferences]  WITH CHECK ADD  CONSTRAINT [Musical_Preferences_FK01] FOREIGN KEY([StyleID])
REFERENCES [dbo].[Musical_Styles] ([StyleID])
GO
ALTER TABLE [dbo].[Musical_Preferences] CHECK CONSTRAINT [Musical_Preferences_FK01]
GO
